body {
  margin: 0px;
  overflow: hidden;
  color: white;
  text-align: center;
}

h1 {
  position: absolute;
  width: 100%;
  z-index: 1;
  font-family:helvetica;
  font-size: 1.5rem;
  opacity:0.01;
  
}
h2 {
  font-family:helvetica;
  font-size: 1.0rem;
}

a {
  color: white;
}
a:hover{
  color: purple;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#controls-container{
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */

  position:absolute;
  width: 95%;
  height:30px;
  bottom:30px;
  left:2.5%;
  pointer-events:none;
}

#loading-screen{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events: all;
  background-color: #25282d;
}
#loading-gif{
  position:relative;
  top:calc(50% - 100px);
  width:200px;
  height:200px;
  margin:auto;

}
.loading-element{

}



#tooth-status-menu{
  position:absolute;
  top:10px;
  left:10px;
  width:120px;
  flex-direction: column;
  align-items: flex-start;
  display:inline-block;
  padding:8px;
  border-radius:5px;
  background-color:rgba(20,20,20,0.6);

  opacity:0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.status-selection{
  position:relative;
  margin:1px;
  width:90%;
  height:40px;
  line-height: 40px;
  background-color:rgba(45,45,45,0.55);
  font-family:helvetica;
  font-size: 1rem;
  font-weight: 600;
  color:white;
  border-radius:3px;
  border-width: 0px;
  text-align: left;
  cursor:pointer;
  padding-left:10px;
  padding-right:-10px;
}

.status-selection:hover{
  color:rgba(255,255,255, 0.75);
  background-color:rgba(20,20,20,0.55);
}
.status-selection:active{
  color:rgba(255,255,255, 0.5);
  background-color:rgba(10,10,10,0.55);
}

#reset-button{
  position:absolute;
  right:5px;
  
}

#toggle-gums-button{
  position:absolute;
  left: 5px;
}
.button{
  bottom:-2px;
  width:60px;
  height:30px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 25px;
  pointer-events: all;
  cursor:pointer;

  font-family:helvetica;
  font-size: 12px;
  line-height: 30px;
  font-weight: bold;
  color:rgb(20,20,20);
  text-align: center;
}
.button:hover{
  background-color: rgba(180,180,180, 0.7);
}
.button:active{
  background-color: rgba(120,120,120,0.7);
}




/*===========SCRUBBER=============*/
.scrubber {
    position:relative;
    left:-16px;
    margin: auto;
    width: 400px;
    max-width:50%;
    height: 30px;
    pointer-events:all;
}

.scrubber-vert {
    margin-left: 10px;
    width: 40px;
    height: 200px;
    position: relative;
}

.scrubber .track {
    position: absolute;
    left:-2px;
    top:0px; 
    height:100%; 
    width: calc(100% + 30px); 
    border-radius: 25px;
    border:2px solid rgba(255,255,255, 0.7);
    background-color:rgba(255,255,255,0.01);
}

.scrubber-vert .track {
    position: absolute;
    top: 0px;   
    height: 100%;
    left: 50%;
    width: 6px;
    background: #DDD;
    border-radius: 3px;
    margin-left: -3px;
}

.scrubber .thumb {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*margin-left: -11px;
    margin-top: -11px;*/
    cursor: pointer;
    border-radius: 100%;

   top: 2px; 
  left: 0px; 
  width: 30px; 
  height: 30px; 
  border: 15px solid rgba(255,255,255,0.7);
  transition: border-width 0.15s ease 0s;
  background-color:rgba(255,255,255,0.35)
 
}

.scrubber-vert .thumb {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*margin-left: -11px;
    margin-top: -11px;*/
    cursor: pointer;
    border-radius: 100%;

   top: 13px; 
  left: 0px; 
  width: 40px; 
  height: 40px; 
  border: 20px solid rgba(255,255,255,0.7);
  transition: border-width 0.15s ease 0s;
  background-color:rgba(255,255,255,0.35)
}

.scrubber .thumb:hover,
.scrubber-vert .thumb:hover,
.thumb.dragging {
  border-width: 0px;
  opacity: 1;
}
/*==========SCRUBBER=========*/
